<div class="container-1">
<h1 class="logo">Welcome To the home page</h1>
<div class="btn-1">
<h2>Make Smarter Admission Decisions</h2>
<button class="btn"><%= link_to 'Create New Student Details Form', new_table_path%></button></br>
<button class="btn"><%= link_to 'Go To About Page',about_path %></button></br>
<button class="btn"><%= link_to 'Students Listing Page' , table_index_path%></button>
</div>
</div>