<h1>Welcome To The Home Page</h1>
<%= link_to 'Create New Student Details Form', new_table_path%>|
<%= link_to 'Go To About Page',about_path %>|</br>
<%= link_to 'Students Listing Page' , table_index_path%>